############################
# macOS
############################
.DS_Store

############################
# Python
############################
backend/.venv/
__pycache__/
*.pyc
*.pyo


############################
# Node / Next.js
############################
node_modules/
frontend/node_modules/

.next/
out/
build/
coverage/

############################
# Logs
############################
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

############################
# Editor
############################
.vscode/
.idea/
